@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --colour-background-primary: #1b1b1b;
    --colour-background-secondary: #343434;
    --colour-font: #FFFFFF;
    --width-content: 65%;
    --size-font: 1rem;
    --border-file-list: 10px;
}

* {
    margin: 0;
    padding: 0;

    font-family: 'Nunito', sans-serif;
    color: var(--colour-font);
    font-size: var(--size-font);
}

body {
    width: 100vw;
    height: 100vh;

    background-color: var(--colour-background-primary);

    display: flex;
    justify-content: center;
}

main {
    width: var(--width-content);

    padding-top: 4rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.current-path {
    background-color: var(--colour-background-secondary);
    font-size: 2rem;
    text-align: center;
    border-radius: var(--border-file-list);
    border: none;
}

.file-list {
    width: 100%;

    background-color: var(--colour-background-secondary);
    border-radius: var(--border-file-list);
}

.file {
    padding: 0.5rem;
    border-bottom: 1px solid #FFFFFF;
}

.file:last-child {
    border: none;
}